body {
    font-family: Arial, sans-serif;
    padding: 0;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
}

h1 {
    background-color: #333;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 95px;
}

.content {
    margin-top: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #8167a9;
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

p {
    line-height: 1.5;
}