:root {
  --columns: 3;
}
.list:before{
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-position: 90% 27%;
  opacity: 0.6;
  transform: skewy(30deg);
  background-size: 40%;
  background-repeat: no-repeat;
}
.adidas:before{
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/adidas.png);
}
.tiger:before{
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/tiger.png);
}
img.shoe{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 62%;
  bottom: -10%;
  -webkit-filter: drop-shadow(0 50px 20px  rgba(0, 0, 0, 0.20));
  filter: drop-shadow(0 50px 20px rgba(0, 0, 0, 0.20));
  transition-property: bottom, filter, -webkit-filter;
  transition-duration: .3s;
}
img.shoe:hover{
  bottom: 0;
  -webkit-filter: drop-shadow(0 80px 40px  rgba(0, 0, 0, 0.20));
  filter: drop-shadow(0 80px 30px rgba(0, 0, 0, 0.20));
}
@media (min-width:600px){
  :root {
    --columns: 5;
  }
  li:nth-child(2n-1){
    grid-column-start:auto;
  }
  li:nth-child(4n-3){
    grid-column-start:2;
  }
}
@media (min-width:900px){
  :root {
    --columns: 7;
  }
  .list:nth-child(4n-3){
    grid-column-start:auto;
  }
  .list:nth-child(6n-5){
    grid-column-start:2;
  }
}
@media (min-width:1200px){
  :root {
    --columns: 9;
  }
  .list:nth-child(6n-5){
    grid-column-start:auto;
  }
  .list:nth-child(8n-7){
    grid-column-start:2;
  }
}
@media (min-width:1500px){
  :root {
    --columns: 11;
  }
  .list:nth-child(8n-7){
    grid-column-start:auto;
  }
  .list:nth-child(10n-9){
    grid-column-start:2;
  }
}
@media (min-width:1800px){
  :root {
    --columns: 13;
  }
  .list:nth-child(10n-9){
    grid-column-start:auto;
  }
  .list:nth-child(12n-11){
    grid-column-start:2;
  }
}
@media (min-width:2100px){
  :root {
    --columns: 15;
  }
  .list:nth-child(12n-11){
    grid-column-start:auto;
  }
  .list:nth-child(14n-13){
    grid-column-start:2;
  }
}